<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then TM_YEAR=`date +%Y` \
		TM_DATE=`date +%Y-%m-%d` \
		TM_USERNAME=`niutil -readprop / /users/\$USER realname 2&gt;/dev/null|sed 's/://'` \
		perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
		&lt; template.bx &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>bx</string>
	<key>name</key>
	<string>BoxLang Class</string>
	<key>uuid</key>
	<string>5B2A4E65-3C7F-4B8D-A9E6-1F2C3D4E5F67</string>
</dict>
</plist>
